
* {
	font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
	font-size:100%;
	box-sizing: border-box;
}

h1 {
    font-family: "Inconsolata", monospace;
    text-align: center;
}

h2{
    font-family: "Inconsolata", monospace;
    text-align: center;
}

h3{
    font-family: "Inconsolata", monospace;
}

header {
    padding: 1%;
    margin: 1%;
    background-color: #F7EED3;
}


#navigation-tabs a{
    color:black;
    font-family: "Roboto Mono", monospace;
    font-size: 200%;    
    padding-left: 4%;
    padding-right: 4%;
    text-decoration: none;
    text-align: center;
} 

#navigation-tabs {
    padding-bottom: 1.20em;
    clear:both;
    display: block;
    margin:auto;
    text-align: center;
}

#navigation-tabs a:hover{
    color:#AAB396; 
}

#navigation-tabs a.selected{
    color:#674636; 
    text-decoration: underline;
}


/* #carousel-food {
    height: 25em;
    overflow: hidden;
} */

#carousel-food .carousel-item, #recipe-table {
    height: 100%;
}

.carousel-inner {
    height: 27em;
    display: flex;
    align-items: center;
}

.image-table{
    width: 100%; /* Set the width of the square */
    overflow: hidden; /* Hide the overflow */
    position: relative; /* Positioning context for the image */
    display: flex; /* Center the image */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

.image-table img, #carousel-food .carousel-item img{
    position: absolute; /* Position absolutely within the container */
    top: 0; /* Align to top */
    left: 0; /* Align to left */
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
    background-color: lightblue; /* Example background color */
    display: flex; /* Center content */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

#recipes h3 {
    text-align: center;
}